<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="PatientAccessConfiguration" value="C:\ConfigurationApi\PatientAccessConfiguration.json" />
        <add key="PatientAccessSsoConfiguration" value="C:\ConfigurationApi\PatientAccessSsoConfig.json" />
        <add key="PatientAccessWebApiConfig" value="C:\ConfigurationApi\PatientAccessWebApiConfig.json" />
        <!--
        <add key="LoggingFactory" value="C:\ConfigurationApi\LoggingFactory.json"/>
        -->
        <add key="LogConfigFile" value="C:\Logs\PublicApiNLog\Log.config" />
        <!--
        <add key="PatientAccessCrosswalkConfiguration" value="C:\ConfigurationApi\PatientAccessCrosswalkConfig.json" />
        -->
        <add key="SmartcycleEncryptionConfiguration" value="C:\ConfigurationApi\SmartcycleEncryptionConfig.json" />
        <add key="PatientEstimatorConfiguration" value="C:\ConfigurationApi\PatientEstimatorConfiguration.json" />
    </appSettings>
    <connectionStrings>
        <add name="SmartCycleDataContext"
             connectionString="Data Source=nonprod-mssql-server.smartcycle.local;Initial Catalog=SmartCycle_QUA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework-PublicApi-Web;"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>