<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<variable name="App" value="NLogTesting" />
		<variable name="LogDir" value="C:\Logs\${App}-Logs" />

		<targets>
			<target name="File"
					xsi:type="AsyncWrapper"
					queueLimit="5000"
					overflowAction="Discard">
				<!-- <target xsi:type="File" 
                    fileName="${LogDir}/${App}-${level}.log" 
                    archiveFileName="${LogDir}/Archive/${App}-${level}-{#######}.log" 
                    archiveNumbering="Sequence"
                    archiveAboveSize="1048576"
                    layout="DateTime: ${longdate} ${newline} LogLevel: ${level:uppercase=true}${newline} Message: ${message} ${newline} ${onexception:Exception\${exception:format=type,message,method,stacktrace,maxInnerExceptionLevel=5:innerFormat=shortType,message,method,stacktrace}}${newline}"
                    /> -->
				<target xsi:type="File"
						fileName="${LogDir}/${App}-${level}.log"
						archiveFileName="${LogDir}/Archive/${App}-${level}-{#}.log"
						archiveNumbering="Date"
						archiveEvery="Day"
						archiveDateFormat="yyyyMMdd"
						maxArchiveFiles="0"
						layout="DateTime: ${longdate}${newline}LogLevel: ${level:uppercase=true}${newline}Message: ${message}${newline}${onexception:${exception:toString}${newline}}${newline}"
                    />
			</target>
		</targets>

		<!-- <target name="Debugger"
                xsi:type="Debugger"
                layout="DateTime: ${longdate}${newline}LogLevel: ${level:uppercase=true}${newline}Message: ${message}${newline}${onexception:${exception:toString}${newline}}${newline}"
                /> -->

		<rules>
			<!-- Using this unit test project, tested Database and File target. They both seem to work fine. -->
			<!-- For all the projects using the logging library, you can just copy the configuration for the target you plan to use from this config file. -->
			<logger name="*" minlevel="TRACE" writeTo="File" />
			<!-- <logger name="*" minlevel="Trace" writeTo="File" /> -->
			<!-- <logger name="*" minlevel="Trace" writeTo="Debugger" /> -->
		</rules>

		<!--
        <targets>
            <target name="logfile" xsi:type="File" fileName="file.txt" />
            <target name="logconsole" xsi:type="Console" />
        </targets>

        <rules>
            <logger name="*" minlevel="Info" writeTo="logconsole" />
            <logger name="*" minlevel="Debug" writeTo="logfile" />
        </rules>
-->
	</nlog>