<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <variable name="App" value="NLogTesting" />
    <variable name="LogDir" value="C:\Logs\${App}-Logs" />

    <targets>
        <target name="baseApplicationLog" 
                xsi:type="AsyncWrapper" 
                queueLimit="5000" 
                overflowAction="Discard">
            <!--<target xsi:type="File" fileName="${LogDir}/PatientEstimator/${level}.log" archiveFileName="${LogDir}/Archive/PatientEstimator/${level}-{#}.log" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="14"
            layout="DateTime: ${longdate}${newline}LogLevel: ${level:uppercase=true}${newline}Message: ${message:raw=true}${newline}${onexception:${exception:toString}${newline}}${newline}" />
            -->
            <target xsi:type="File"
                    fileName="${LogDir}/${App}-Application/${App}-Application-${level}.log" 
                    archiveFileName="${LogDir}/${App}-Application/Archive/${App}-Application-${level}-{#}.log" 
                    archiveNumbering="Date" 
                    archiveEvery="Day"
                    archiveDateFormat="yyyyMMdd" 
                    maxArchiveFiles="0"
                    layout="DateTime: ${longdate}${newline}LogLevel: ${level:uppercase=true}${newline}Message: ${message:raw=true}${newline}${onexception:${exception:toString}${newline}}${newline}"
                    />
        </target>

        <target name="apiTimingLog" 
                xsi:type="AsyncWrapper" 
                queueLimit="5000" 
                overflowAction="Discard">
            <!--<target xsi:type="File" fileName="${LogDir}/PatientEstimatorApiTiming/${level}.log" archiveFileName="${LogDir}/Archive/PatientEstimatorApiTiming/PatientEstimatorApiTiming-{#}.log" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="14"
            layout="DateTime: ${longdate}|MessageLevel:${level:uppercase=true}|LogName:PatientEstimatorApiTiming|${message}" />
            -->
            <target xsi:type="File"
                    fileName="${LogDir}/${App}-ApiTiming/${App}-ApiTiming-${level}.log" 
                    archiveFileName="${LogDir}/${App}-ApiTiming/Archive/${App}-ApiTiming-${level}-{#}.log" 
                    archiveNumbering="Date" 
                    archiveEvery="Day"
                    archiveDateFormat="yyyyMMdd" 
                    maxArchiveFiles="0"
                    layout="DateTime: ${longdate}|MessageLevel:${level:uppercase=true}|LogName:${App}-ApiTiming|${message}"
                    />
        </target>   

        <target name="apiContentLog" 
                xsi:type="AsyncWrapper" 
                queueLimit="5000" 
                overflowAction="Discard">
            <!--<target xsi:type="File" fileName="${LogDir}/PatientEstimatorApiRequestContent/${level}.log" archiveFileName="${LogDir}/Archive/PatientEstimatorApiRequestContent/PatientEstimatorApiRequestContent-{#}.log" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="14"
            layout="DateTime: ${longdate}|MessageLevel:${level:uppercase=true}|LogName:PatientEstimatorApiRequestContent|${message}" />
            -->
            <target xsi:type="File"
                    fileName="${LogDir}/${App}-ApiContent/${App}-ApiContent-${level}.log" 
                    archiveFileName="${LogDir}/${App}-ApiContent/Archive/${App}-ApiContent-${level}-{#}.log" 
                    archiveNumbering="Date" 
                    archiveEvery="Day"
                    archiveDateFormat="yyyyMMdd" 
                    maxArchiveFiles="0"
                    layout="DateTime: ${longdate}|MessageLevel:${level:uppercase=true}|LogName:${App}-ApiContent|${message}"
                    />
        </target>   
    </targets>

    <rules>
    <!-- Using this unit test project, tested Database and File target. They both seem to work fine. -->
    <!-- For all the projects using the logging library, you can just copy the configuration for the target you plan to use from this config file. -->
        <logger name="PatientAccess" minlevel="Debug" writeTo="baseApplicationLog" />
        <logger name="PatientAccessApiLog" minlevel="Debug" writeTo="baseApplicationLog" />
        <logger name="PatientAccessApiTiming" minlevel="Debug" writeTo="apiTimingLog" />
        <logger name="PatientAccessApiContent" minlevel="Debug" writeTo="apiContentLog" />

        <!-- These were in the Availity config file but appear to have stopped producing logs as of 2021.0804 (on SCI01/2/5/6; none on SCI03/4). -->
        <logger name="AddressVerificationService" minlevel="Debug" writeTo="addressVerificationServiceLog" />
        <logger name="PppCoverageService" minlevel="Debug" writeTo="pppCoverageServiceLog" />
        <logger name="PublicApiAutoBenefitService" minlevel="Debug" writeTo="publicApiAutoBenefitServiceLog" />
        <logger name="CoverageResponseService" minlevel="Debug" writeTo="coverageResponseServiceLog" />
        <logger name="CoverageWebhookService" minlevel="Debug" writeTo="coverageWebhookServiceLog" />

    </rules>
    </nlog>
</configuration>